.panel {
    border-style: groove;
    border-width: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
}


.data {
    visibility: hidden;
}


table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin: 0;
    table-layout: fixed;
}

td {
    background-color: #aaaaaa;
    color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
    text-align: center;
}


.playbutt {
    width: 100%;
    height: 100%;
}

.butt {
    left: 40%;
    top: 10%;
    position: absolute;
    align-items: center;
}

#start {
    left: 70%;
    position: relative;
}