<!doctype html>
<html>
    <head>
        <title>Minesweeper (server_not_used) </title>
        <link rel="stylesheet" href="css/main.css" >
        <script src="https://unpkg.com/vue@next"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <header class='butt' id="setting">
            Life: 
            <span id="life">{{ life }}</span>
            <button @click="start()">Start</button>
        </header>
        <main id="playspace">
            <div class='panel'>
                <table>
                    <tbody id="showbox">
                        <tr v-for="i in blocks">
                            <td v-for="j in blocks" class="playbutt" @click="clickPlayButt($event)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

     <!-- <script src="src/cookie.js"></script>   -->
        <script type="text/javascript" src='src/start.js'></script>
        <script type="text/javascript" src="src/show.js"></script>
    </body>
</html>